{% extends 'base.html.twig' %}

{% block title %}
    Listado Ventas - {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Listado Ventas</h1>
    <a class="btn btn-primary" href="{{ path('venta_nueva') }}">Nueva Venta</a>
    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>Código</th>
            <th>Fecha</th>
            <th>Cliente</th>
            <th>Productos</th>
            <th>Empleado</th>
        </tr>
        </thead>
        <tbody>
        {% for venta in ventas %}
            <tr>
                <td>{{ venta.codigo }}</td>
                <td>{{ venta.fechaVenta | date('d/m/Y') }}</td>
                <td>
                    <a href="{{ path('cliente_ventas', {'id': venta.cliente.id}) }}">{{ venta.cliente }}</a>
                </td>
                <td>
                    <ul>
                        {% for producto in venta.productos %}
                            <li>
                                <a href="{{ path('producto_modificar', {'id': producto.id}) }}" >{{ producto }}</a>
                            </li>
                        {% else %}
                            <li>No hay productos</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <a href="{{ path('empleado_ventas', {'id': venta.empleado.id}) }}">{{ venta.empleado }}</a>
                </td>
                <td>
                    <a href="{{ path('venta_modificar', {'id': venta.id}) }}" class="btn btn-success">Modificar</a>
                </td>
            </tr>
        {% else %}
            <h2>No existen ventas</h2>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}