{% extends 'base.html.twig' %}
{% block title %} Producto {% endblock %}
{% block body %}
    <h1>Listado de Productos</h1>
    {% if is_granted("ROLE_GERENTE") %}
        <a class="btn btn-primary" href="{{ path('producto_nuevo') }}">Nuevo Producto</a>
    {% endif %}
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Veces Vendido</th>
                <th>Categoría</th>
            </tr>
        </thead>
        <tbody>
            {% for elemento in elementos %}
                <tr>
                    <td>{{ elemento.producto.codigo }}</td>
                    <td>{{ elemento.producto.nombre }}</td>
                    <td>{{ elemento.producto.descripcion }}</td>
                    <td>{{ elemento.producto.precio }}€</td>
                    <td>{{ elemento.producto.stock }}</td>
                    <td>{{ elemento.total }}</td>
                    <td>
                        <a href="{{ path("categoriaProducto", {'id': elemento.producto.categoria.id}) }}">
                            {{ elemento.producto.categoria }}
                        </a>
                    </td>
                    {% if is_granted("ROLE_GERENTE") %}
                        <td>
                            <a href="{{ path('producto_modificar', {'id': elemento.producto.id}) }}" class="btn btn-success">Modificar</a>
                        </td>
                    {% endif %}
                </tr>
            {% else %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}