<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}NovaCafe{% endblock %}</title>
        <style>

            @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

            :root {
                font-family: 'Quicksand', sans-serif;
            }

            body {
                background-color: lightskyblue;
            }

            .tabla1 {
                border-collapse: collapse;
                background-color: white;
            }

            .tabla1 th, td{
                border: 2px solid black;
                padding: 0.5em 1em;
            }

            a {
                color: darkorange;
                text-decoration: none;
                font-weight: bold;
                font-size: 1.25em;
            }

            a:hover {
                color: mediumvioletred;
            }

        </style>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/
bootstrap.min.css" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ path('principal') }}">NovaCafé</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% set route_name = app.request.get('_route') %}
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    {% if is_granted('ROLE_EMPLEADO') %}
                        <li class="nav-item {% if route_name == 'listadoProductos' %}active{% endif %}">
                            <a class="nav-link" href="{{ path('listadoProductos') }}">Productos <span class="sr-only">(current)</span></a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_EMPLEADO') %}
                        <li class="nav-item {% if route_name == 'categoria_listar' %}active{% endif %}">
                            <a class="nav-link" href="{{ path('categoria_listar') }}">Categorías <span class="sr-only">(current)</span></a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_EMPLEADO') %}
                        <li class="nav-item {% if route_name == 'cliente_listar' %}active{% endif %}">
                            <a class="nav-link" href="{{ path('cliente_listar') }}">Clientes <span class="sr-only">(current)</span></a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item {% if route_name == 'empleado_listar' %}active{% endif %}">
                            <a class="nav-link" href="{{ path('empleado_listar') }}">Empleados <span class="sr-only">(current)</span></a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_EMPLEADO') %}
                        <li class="nav-item {% if route_name == 'venta_listar' %}active{% endif %}">
                            <a class="nav-link" href="{{ path('venta_listar') }}">Ventas <span class="sr-only">(current)</span></a>
                        </li>
                    {% endif %}
                    {% if app.user %}
                        <a href="{{ path('cambio_clave') }}" class="nav-link">Cambiar Contraseña</a>
                        <a href="{{ path('logout') }}" class="nav-link">Conectado como {{ app.user }}. Salir</a>
                    {% else %}
                        <a href="{{ path('login') }}" class="nav-link">Entrar</a>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% block body %}

        {% endblock %}
    </body>
</html>
